<div class="container mt-4">

 {{#each posts}}
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{content}}</p>
      </div>
    </div>
  {{/each}}
</div>
