.content {
    min-height: 60vh;
    background-color: grey;
}
.card {
    border: solid 1px;
    margin-top: 2rem;
}
.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}